.advantages {
  @mixin block;
  @mixin content-container;
  padding-top: 27px;
  padding-bottom: 20px;
}
.advantages__header {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
  font-weight: bold;
}
.advantages__list {
  @mixin reset-list;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
  line-height: 1.175;
  color: inherit;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 56px;
  padding-bottom: 29px;
}
.advantages__item-icon {
  background-color: #fff;
  background-repeat: no-repeat;
}
.advantages__item-icon--icon-eco {
  background-image: url("../img/icon-feature-eco.svg");
  background-position: 7px 2px;
}
.advantages__item-icon--icon-style {
  background-image: url("../img/icon-feature-style.svg");
  background-position: 0px 2px;
}
.advantages__item-icon--icon-like {
  background-image: url("../img/icon-feature-like.svg");
  background-position: 7px 7px;
}
.advantages__item-icon--icon-knit {
  background-image: url("../img/icon-feature-knit.svg");
  background-position: 4px 5px;
}
.advantages__item-icon--icon-native {
  background-image: url("../img/icon-feature-native.svg");
  background-position: -0px 5px;
  margin-left: -5px;
  padding-left: 5px
}
.advantages__item-icon--icon-gift {
  background-image: url("../img/icon-feature-gift.svg");
  background-position: 1px 5px;
}

@media (min-width: $tablet-width)  {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages__header {
    width: 100%;
    @mixin tablet-header;
    padding-top: 27px;
    padding-bottom: 5px;
  }
  .advantages__list {
    padding-top: 12px;
    margin-right: 84px;
    padding-left: 2px;
  }
  .advantages__list:last-child {
    margin-right: 0;
  }
  .advantages__item {
    font-size: 20px;
    line-height: 1.1;
    padding-top: 57px;
    padding-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__header {
    width: 100%;
    @mixin desktop-header;
    padding-top: 42px;
    padding-left: 170px;
    padding-bottom: 5px;
  }
  .advantages__list {
    padding-top: 12px;
    margin-right: 96px;
    margin-left: 175px;
  }
  .advantages__list:last-child {
    margin-right: 0;
    margin-left: 0;
  }
}
