.advantages {
  @mixin block;
  padding-top: 29px;
  padding-bottom: 35px;
}
.advantages__header {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
  font-weight: bold;
}
.advantages__list {
  @mixin reset-list;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
  line-height: 1.175;
  color: inherit;
  font-weight: bold;
  /*padding-top: 55px;*/
  /*padding-bottom: 30px;*/
  padding-right: 10px;
}
.advantages__item:last-child {
  padding-bottom: 0;
}
.advantages__text {
  padding-top: 18px;
  padding-bottom: 30px;
}
