.contacts {
  @mixin block;
  /*@mixin padding-lr-30;*/
  @mixin inner;
  @mixin padding-20;
}
.contacts__header {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.7;
  color: #000;
  font-weight: bold;
}
.contacts__address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: inherit;
  font-size: 15px;
  line-height: 2;
  color: $txt-color;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 36px;
}
.contacts__type {
  display: inline-flex;
  width: 29.6%;
  padding-bottom: 30px;
}
.contacts__text {
  width: 70.4%;
}
.contacts__map {
  position: relative;
  align-self: center;
  margin-bottom: 34px;
}
.contacts__map::before {
  content: "";
  position: absolute;
  top: 35.5%;
  left: 38.5%;
  width: 66px;
  height: 101px;
  background: transparent url("../img/icon-map-pin.svg") 0 0 no-repeat;
}
.contacts__mail {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-style: inherit;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid $green-light;
  /*text-decoration-color: $green-light;*/  /*Не очень-то и работает*/
}
.contacts__mail:hover {
  color: $green-light;
}
.contacts__mail:active {
  color: rgba(70, 193, 174, 0.3);
  border-bottom: 1px solid rgba(70, 193, 174, 0.3);
}
@media (min-width: $tablet-width)  {
  .contacts {
    /*@mixin padding-lr-50;*/
    /*@mixin padding-20;*/
  }
  .contacts__header {
    position: relative;
    @mixin tablet-header;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff url("../img/icon-flag.svg") right 50% no-repeat;
  }
  .contacts__address {
    flex-wrap: nowrap;
    font-size: 17px;
    line-height: 1.765;
    margin-top: 11px;
    margin-bottom: 55px;
  }
  .contacts__type {
    width: 21%;
  }
  .contacts__map {
    margin-bottom: 51px;
  }
  .contacts__map::before {
    top: 36.5%;
    left: 45.5%;
  }
  .contacts__btn {
    width: 230px;
    align-self: center;
  }
  /*.contacts {
    margin-bottom: 18px;
  }*/
}
@media (min-width: $desktop-width) {
  .contacts {
    /*@mixin padding-20;*/
    flex-wrap: wrap;
    height: 550px;
    /*margin-bottom: 41px;*/
  }
  .contacts__header {
    @mixin desktop-header;
    padding-top: 20px;
    padding-left: 170px;
    padding-bottom: 20px;
    margin-top: 100px;
    margin-bottom: 18px;
    background-position: 65px 10px;
  }
  .contacts__address {
    margin-left: 175px;
    flex-wrap: wrap;
    width: 350px;
    margin-bottom: 80px;
  }
  .contacts__type {
    width: 22%;
  }
  .contacts__map {
    order: 5;
    margin-top: 50px;
  }
  .contacts__map::before {
    left: 47.5%;
  }
  .contacts__btn {
    order: 4;
    margin-right: 40px;
  }
}
