.contacts {
  @mixin block;
  padding-top: 37px;
  padding-bottom: 40px
}
.contacts__header {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.7;
  color: #000;
  font-weight: bold;
}
.contacts__address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: inherit;
  font-size: 15px;
  line-height: 2;
  color: $txt-color;
  font-style: normal;
  padding-top: 16px;
  padding-bottom: 36px;
}
.contacts__type {
  display: inline-flex;
  width: 29.6%;
  padding-bottom: 30px;
}
.contacts__text {
  width: 70.4%;
}
.contacts__map {
  position: relative;
  align-self: center;
  margin-bottom: 35px;
}
.contacts__map::before {
  content: "";
  position: absolute;
  top: 35.5%;
  left: 38.5%;
  width: 66px;
  height: 101px;
  background: transparent url("../img/icon-map-pin.svg") 0 0 no-repeat;
}
.contacts__mail {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-style: inherit;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid $green-light;
  /*text-decoration-color: $green-light;*/  /*Не очень-то и работает*/
}
.contacts__mail:hover {
  color: $green-light;
}
.contacts__mail:active {
  color: rgba(70, 193, 174, 0.3);
  border-bottom: 1px solid rgba(70, 193, 174, 0.3);
}
