.form {
  @mixin block;
  /*@mixin padding-20;*/
}
.form__option,
.form__text,
.form__contacts-option,
.form__textarea {
  outline: none;
}
.form__form-group {
  @mixin inner;
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form__group-name {
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 17px;
  line-height: 1.1;
  color: $green-light;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 24px;
}
.form__group-name::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 62px;
  height: 1px;
  width: 75%;
  background-color: $green-light;
}
.form__option {
  opacity: 0;
  pointer-events: none;
  /*display: none;*/
  position: absolute;
}
.form__option-label {
  width: 100%;
  display: block;
  font-family: inherit;
  font-size: 17px;
  line-height: 1.1;
  color: #000;
  font-weight: bold;
  padding-left: 62px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.form__option-label--checkbox {
  /*padding-bottom: 34px;*/
  margin-bottom: 19px;
}
.form__option-label--radio {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 2px;
    left: 1px;
    width: 38px;
    height: 38px;
    border: 10px solid #fff;
    box-shadow: 0px 0px 0 1px #000;
    border-radius: 50%;
    background-color: #fff;
  }
}
.form__option:checked + .form__option-label--radio::before {
  background-color: $green-light;
}
.form__option-label--checkbox {
  position: relative;
  /*margin-bottom: -1px;*/

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 40px;
    height: 39px;
    border: 2px solid #000;
    background-color: inherit;
  }
}
.form__option-label--checkbox:last-child {
  margin-bottom: 0;
}
.form__option:checked + .form__option-label--checkbox::before {
  background: transparent url("../img/icon-tick.svg") 50% 50% no-repeat;
}
.form__option-label--radio:hover::before {
  box-shadow: 0px 0px 0 1px $green-light;
}
.form__option-label--checkbox:hover::before {
  border-color: $green-light;
}
.form__option:focus + .form__option-label--radio::before {
  box-shadow: 0px 0px 0 1px #c7c7c7;
}

.form__option-label--radio:active::before,
.form__option-label--radio:focus::before {
  box-shadow: 0px 0px 0 1px #c7c7c7;
}
.form__option:focus + .form__option-label--checkbox::before {
  border-color: #c7c7c7;
}
.form__option-label--checkbox:active::before,
.form__option-label--checkbox:focus::before {
  border-color: #c7c7c7;
}

.form__checkbox-group {
  margin-top: 10px;
  margin-bottom: 2px;
}
.form__text-label {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.1;
  color: #000;
  font-weight: bold;
  margin-top: 30px;
}
.form__name-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
.form__option-group {
  margin-top: 2px;
  margin-bottom: 18px;
}
.form__option-group:last-child {
  margin-bottom: 0;
}
.form__phone-group {
  margin-top: 5px;
  /*margin-bottom: 28px;*/
  /*padding-top: 14px;*/
  /*padding-bottom: 38px;*/
}
.form__phone-group .form__group-name {
  margin-bottom: 7px;
}
.form__mail-group {
  margin-top: 10px;
  margin-bottom: 5px;
  /*padding-top: 16px;*/
}
.form__mail-group .form__group-name {
  margin-bottom: 7px;
}
.form__mail-group .form__group-name::after {
  left: 82px;
  width: 70%;
}
.form__text {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 17px;
  line-height: 1.3;
  color: $txt-color;
  padding-top: 11px;
  padding-bottom: 15px;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }
  &:active,
  &:focus {
    color: $txt-color;
    border-bottom: 2px solid #62d1ba;
  }
}

.form__contacts-option {
  position: relative;
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 17px;
  line-height: 1.5;
  color: $txt-color;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 40px;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }
  &:active,
  &:focus {
    color: $txt-color;
    border-bottom: 2px solid #62d1ba;
  }
}
.form__contacts-icon {
  position: absolute;
  transform: translate(0, 50%);
  pointer-events: none;
}
.form__contacts-icon--icon-phone {
  top: 33px;
  right: 7px;
  width: 25px;
  height: 24px;
}
.form__contacts-icon--icon-mail {
  top: 30px;
  right: 3px;
  width: 32px;
  height: 32px;
}
.form__text-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 6px;
}
.form__textarea {
  font-family: inherit;
  width: 100%;
  height: 142px;
  font-size: 17px;
  line-height: 1.1;
  color: $txt-color;
  background-color: #fff;
  border: 2px solid #000;
  padding: 15px;
  margin-bottom: 0;
  /*white-space: normal;*/
  resize: vertical;

  &:hover {
    border: 2px solid #62d1ba;
  }
  &:active,
  &:focus {
    color: $txt-color;
    border: 2px solid #62d1ba;
  }
}
.form__notification {
  @mixin inner;
  display: block;
  font-size: 14px;
  line-height: 1.15;
  color: $txt-color;
  margin-top: 0px;
  margin-bottom: 30px;
  order: 1;
}
.form__btn {
  @mixin inner;
  order: 2;
  /*width: 100%;*/
}

@media (min-width: $tablet-width)  {
  .form__form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    /*flex-wrap: nowrap;*/
    padding-top: 50px;
    padding-bottom: 50px;
    /*padding-bottom: 50px;
    padding-right: 50px;*/
    border: none;
    /*padding-left: 167px;*/
  }
  .form__wrap {
    width: 100%;
    /*background-color: red;*/
    &--colored {
      background-color: $grey;
    }
  }
  .form__group-wrap {
    margin-left: 0;
    margin-right: 0;
  }
  .form__group-name {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 167px;
    background-color: inherit;
  }
  .form__group-name::after {
    display: none;
  }
  .form__option-label {
    font-size: 19px;
    padding-left: 87px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 22px;
  }
  .form__option-label:last-child {
    margin-bottom: 0;
  }
  .form__option-label--radio {
    &::before {
      top: 4px;
      left: 7px;
      width: 48px;
      height: 48px;
      border: 13px solid #fff;
    }
  }
  .form__checkbox-group {
    padding-top: 50px;
    /*background-color: $grey;*/
    padding-right: 0;
  }
  .form__option-label--checkbox {
    width: 250px;
    padding-left: 88px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 11px;
    margin-bottom: 21px;

    &::before {
      top: 0;
      left: 6px;
      width: 54px;
      height: 52px;
    }
  }
  .form__option-label--checkbox:nth-of-type(5) {
    margin-bottom: 0;
  }
  .form__option-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 26px;
  }
  .form__option-group:last-child{
    margin-bottom: 0;
  }
  .form__text-label {
    font-size: 19px;
    margin-top: 0;
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 27px;
  }
  .form__text {
    width: 100%;
    font-size: 19px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 14px;
  }
  .form__phone-group,
  .form__mail-group {
    /*background-color: $grey;*/
    /*padding-left: 218px;*/
  }
  .form__phone-group {
    padding-bottom: 8px;
  }
  .form__mail-group {
    padding-top: 8px;
  }
  .form__contacts-option {
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    font-size: 19px;
    padding-top: 17px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 60px;
    background-color: inherit;
  }
  .form__contacts-icon--icon-phone {
    top: 50px;
    right: 75px;
  }
  .form__contacts-icon--icon-mail {
    top: 11px;
    right: 70px;
  }
  .form__text-group {
    @mixin inner;
  }
  .form__textarea {
    /*width: 500px;*/
    height: 142px;
    flex-grow: 0;
    margin-top: 7px;
  }
  .form__notification {
    font-size: 17px;
    line-height: 1.765;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .form__btn {
    order: 0;
    width: 230px;
    margin-left: 50px;
    margin-top: 4px;
  }
  .form__notification {
    width: 334px;
    margin-right: 50px;
    margin-top: 13px;
    text-align: right;
  }
}
@media (min-width: $desktop-width) {
  .form__form-group {
    padding-left: 60px;
  }
  .form__option-label--checkbox {
    width: 252px;
  }
  .form__option-label--checkbox:nth-of-type(4) {
    margin-bottom: 0;
  }
  .form__name-group,
  .form__phone-group,
  .form__mail-group {
    padding-right: 225px;
  }
  .form__contacts-icon--icon-phone {
    top: 48px;
    right: 232px;
  }
  .form__contacts-icon--icon-mail {
    top: 11px;
    right: 228px;
  }
  .form__phone-group,
  .form__mail-group,
  .form__text-group {
    padding-left: 225px;
  }
  .form__text-group {
    padding-right: 225px;
  }
  /*.form__textarea {
    width: 700px;
  }*/
  .form__btn {
    align-self: flex-start;
    width: 230px;
    margin-left: 225px;
    margin-top: -1px;
  }
  .form__notification {
    margin-right: 224px;
    margin-top: 9px;
    text-align: right;
  }
}
