.logo {
  height: 80px;
  width: 160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
  background-color: #fff;
  flex-grow: 1;
  padding-left: 50px;
}
.logo img {
  width: 86px;
  height: 36px;
  transform: translate(0, 60%);
}
.logo__link {
<<<<<<< HEAD
  display: block;
  /*width: 100%;*/
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
=======
  height: 100%;
>>>>>>> 90dfe65... Правки, inner, начало картинок

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width)  {
  .logo {
<<<<<<< HEAD
    height: 88px;
    /*width: 200px;*/
    justify-content: flex-start;
    flex-grow: 0;
    /*margin-right: auto;*/
    padding-left: 0;
=======
    width: 200px;
    justify-content: flex-start;
    margin: 0;
>>>>>>> 90dfe65... Правки, inner, начало картинок
  }
  .logo img {
    width: 112px;
    height: 46px;
    transform: translate(0, 47%);
  }
  .logo__link {
<<<<<<< HEAD
    padding-left: 0;
=======
    padding-left: 50px;
>>>>>>> 90dfe65... Правки, inner, начало картинок
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 200px;
    order: 2;
    padding-left: 0;
    padding-right: 0;
  }
  .logo img {
    width: 148px;
    height: 73px;
    transform: translate(0, 10%);
  }
  .logo__link {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo img {
    width: 148px;
    height: 73px;
    transform: translate(0, 0);
  }
}
