.logo {
  @mixin container;
  min-height: 80px;
  border-bottom: 1px solid $bd-color;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.logo img {
  width: 86px;
  height: 36px;
}
.logo__link {
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width)  {
  .logo {
    width: 200px;
    justify-content: flex-start;
    align-self: flex-start;
    padding-left: 40px;
    margin: 0;
  }
}

/*@media (min-width: $desktop-width) {
  /*width: 1050px;*/
