.main-nav {
  width: 100%;
  color: #000000;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  background-color: #fff;
}
.main-nav__inner {
  @mixin inner;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-family: inherit;
}
.main-nav__items-list {
  position: absolute;
  width: 320px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  @mixin reset-list;
  background-color: #fff;

  &--opened {
    display: flex;
    z-index: 10;
  }
}

.main-nav__items-links {
  top: 78px;
  left: -30px;
}
.main-nav__user-links {
  top: 236px;
  left: -30px;
}
.main-nav__user-links .main-nav__item:last-child {
  border-bottom: 1px solid #ececec;
}
.main-nav__user-links .main-nav__item:last-child {
  border-bottom: 1px solid #ececec;
}
.main-nav__items-list--no-js{
  display: flex;
  position: static;
}
.main-nav__item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid $bd-color;
}
.main-nav__item-icon {
  display: inline-flex;
}
.main-nav__link {
  width: 260px;
  margin: 0 auto;
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  padding-left: 45px;
  padding-top: 27px;
  padding-bottom: 28px;
  /*padding-right: 30px;*/

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
.main-nav__user-links .main-nav__link {
  padding-left: 3px;
}
.main-nav__user-links .main-nav__link-text {
  margin-left: 20px;
  padding-right: 0;
}
.main-nav__item-icon {
  vertical-align: middle;
}
.main-nav__btn {

  width: 79px;
  height: 79px;
  margin-right: -30px;
  border: none;

  &--open {
    background: #fff url("../img/icon-menu-open.svg") 50% 50% no-repeat;
  }
  &--close {
    background: #fff url("../img/icon-menu-close.svg") 50% 50% no-repeat;
  }
}
.main-nav__btn--no-js {
  display: none;
}
.main-nav__offer {
  display: none;
}
.main-nav__sell-links {
  display: none;
}

@media (min-width: $tablet-width)  {
  .main-nav {
    background-image: linear-gradient(#fff 89px, #e7e7e7 89px, #e7e7e7 91px, #f9f9f9 91px)
  }
  .main-nav__btn {
    display: none;
  }
  .main-nav__item {
    width: auto;
    margin: 0;
    border-left: 1px solid #ececec;
    border-bottom: none;
    border-top: none;
  }
  .main-nav__link {
    width: auto;
    padding-top: 31px;
    padding-bottom: 34px;
  }
  .main-nav__items-list {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .main-nav__user-links {
    justify-content: flex-end;
    order: 1;
    width: auto;
    /*margin-left: auto;*/
    /*border-bottom: 1px solid #ececec;*/
    padding-right: 0;
    flex-grow: 1;
  }
  .main-nav__user-links .main-nav__item:first-child {
    width: 86px;
    text-align: center;
  }
  .main-nav__user-links .main-nav__item:last-child {
    border-bottom: none;
  }
  .main-nav__user-links .main-nav__cart-link {
    padding-left: 32px;
    /*padding-right: 2px;*/
  }
  .main-nav__user-links  .main-nav__link-text {
    margin-left: 25px;
  }
  .main-nav__items-links {
    order: 2;
    /*background-color: #f9f9f9;*/
    width: auto;
    margin-right: auto;
    margin-top: 3px;
    /*flex-grow: 0;
    flex-shrink: 1;*/
    /*flex-grow: 1;*/
  }
  .main-nav__items-links .main-nav__item {
    border: none;
    width: 167px;
  }
  .main-nav__items-links .main-nav__link {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.6;
    padding-left: 0;
    padding-top: 14px;
    padding-bottom: 20px;
    padding-right: 0;
  }
 .main-nav__search-link .main-nav__link-text{
    @mixin hidden;
  }
  .main-nav__offer {
    display: inline-flex;
    order: 10;
    /*margin-left: auto;*/
    font-size: 15px;
    line-height: 1.6;
    font-weight: normal;
    color: $txt-color;
    padding-top: 15px;
    margin-top: 2px;
    /*background-color: #f9f9f9;*/
    /*padding-right: 50px;*/
  }
  .main-nav__sell-links {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .main-nav__items-links {
    order: 1;
    flex-grow: 1;
    margin-top: 0;
    /*background-color: #fff;*/
    /*border-bottom: 1px solid #ececec;*/
  }
  .main-nav__items-links .main-nav__item {
    width: auto;
  }
  .main-nav__items-links .main-nav__link {
    color: #000000;
    font-size: 17px;
    line-height: 1.41;
    font-weight: bold;
    /*background-color: #fff;*/
    border-right: 1px solid #ececec;
    padding-top: 31px;
    padding-bottom: 34px;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
  .main-nav__items-links .main-nav__item:first-child .main-nav__link {
    padding-right: 36px;
  }
  .main-nav__items-links .main-nav__item:last-child .main-nav__link {
    padding-left: 33px;
    border-right: none;
  }
  .main-nav__user-links {
    order: 3;
    flex-grow: 1;
  }
  .main-nav__sell-links {
    width: auto;
    display: flex;
    position: static;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /*flex-grow: 1;*/
    margin-right: auto;
    order: 4;
    /*background-color: #f9f9f9;*/
    /*padding-left: 50px;*/
  }
  .main-nav__sell-links .main-nav__item {
    padding-left: 0;
    border: none;
    /*width: 200px;*/
  }
  .main-nav__sell-links .main-nav__item:last-child {
    padding-left: 50px;
  }
  .main-nav__sell-links .main-nav__link {
    width: auto;
    font-size: 15px;
    line-height: 1.6;
    padding-left: 0;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-right: 10px;
  }
}
