.main-nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-family: inherit;
  color: #000000;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  background-color: #fff;
  outline: 1px solid red;
}
.main-nav__items-list {
  position: absolute;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  @mixin reset-list;
  background-color: #fff;

  &--opened {
    display: flex;
    z-index: 10;
  }
}
.main-nav__items-links {
  top: 80px;
  left: 0;
}
.main-nav__user-links {
  top: 238px;
  left: 0;
}
.main-nav--no-js{
  display: flex;
  position: static;
}
.main-nav__item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.main-nav__item-icon {
  display: inline-flex;
}
.main-nav__link {
  width: 100%;
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  padding-left: 75px;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-right: 30px;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
.main-nav__user-links .main-nav__link {
  padding-left: 33px;
}
.main-nav__user-links .main-nav__link-text {
  padding-left: 20px;
}
.main-nav__item-icon {
  vertical-align: middle;
}
.main-nav__btn {
  position: absolute;
  width: 79px;
  height: 79px;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;

  &--open {
    background: #fff url("../img/icon-menu-open.svg") 50% 50% no-repeat;
  }
  &--close {
    background: #fff url("../img/icon-menu-close.svg") 50% 50% no-repeat;
  }
}
.main-nav__offer {
  display: none;
}
.main-nav__sell-links {
  display: none;
}

@media (min-width: $tablet-width)  {
  .main-nav__btn {
    display: none;
  }
  .main-nav__item {
    width: auto;
    border-left: 1px solid #ececec;
    border-bottom: none;
  }
  .main-nav__link {
    padding-top: 31px;
    padding-bottom: 34px;
  }
  .main-nav__items-list {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: flex-start;
  }
  .main-nav__user-links {
    justify-content: flex-end;
    order: 1;
    flex-grow: 1;
    border-bottom: 1px solid #ececec;
    padding-right: 50px;
  }
  .main-nav__user-links .main-nav__cart-link {
    padding-right: 0;
    padding-left: 33px;
  }
  .main-nav__user-links  .main-nav__link-text {
    padding-left: 25px;
  }
  .main-nav__items-links {
    order: 2;
    background-color: #f9f9f9;
    padding-left: 0;
    flex-grow: 1;
    padding-left: 50px;
  }
  .main-nav__items-links .main-nav__item {
    padding-left: 0;
    border: none;
  }
  .main-nav__items-links .main-nav__link {
    font-size: 15px;
    line-height: 1.6;
    padding-left: 0;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-right: 37px;
  }
  .main-nav__items-list {
    width: auto;
  }
 .main-nav__search-link .main-nav__link-text{
    @mixin hidden;
  }
  .main-nav__offer {
    display: block;
    order: 10;
    margin-left: auto;
    font-size: 15px;
    line-height: 1.6;
    font-weight: normal;
    color: $txt-color;
    padding-top: 17px;
    background-color: #f9f9f9;
    padding-right: 50px;
  }
}
.main-nav__sell-links {
  display: none;
}

@media (min-width: $desktop-width) {
  .main-nav__items-links {
    order: 1;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
}
  .main-nav__items-links .main-nav__link {
    color: #000000;
    font-size: 17px;
    line-height: 1.41;
    font-weight: bold;
    background-color: #fff;
    border-right: 1px solid #ececec;
    padding-top: 31px;
    padding-bottom: 34px;
  }
  .main-nav__items-links .main-nav__item:last-child .main-nav__link {
    padding-left: 33px;
  }
  .main-nav__user-links {
    order: 3;
  }
  .main-nav__sell-links {
    display: flex;
    position: static;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-grow: 1;
    order: 4;
    background-color: #f9f9f9;
    padding-left: 50px;
  }
  .main-nav__sell-links .main-nav__item {
    padding-left: 0;
    border: none;
  }
  .main-nav__sell-links .main-nav__link {
    padding-left: 0;
    font-size: 15px;
    line-height: 1.6;
    padding-left: 0;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-right: 62px;
  }
  .main-nav__user-links  .main-nav__link-text {
    padding-left: 28px;
  }
}
