.modal-window {
  display: none;
  position: fixed;
  left: 50%;
  top: 25vh;
  transform: translate(-50%, 0);
  z-index: 10;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: inherit;
  width: 320px;
  padding-top: 36px;
  padding-bottom: 46px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.modal-window--no-js {
  display: flex;
  position: static;
  margin: 20px auto;
  transform: translate(0, 0);
}
.modal-window--opened {
  display: flex;
}
.modal-window__header {
  margin: 0;
  font-family: inherit;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.modal-window__desc {
  font-family: inherit;
  font-size: 15px;
  line-height: 2;
  color: $txt-color;
  padding-top: 20px;
  padding-bottom: 20px;
  align-self: center;
}
.modal-window__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.modal-window__btn {
  width: 100%;
  background-color: $green-light;
  color: #fff;
  font-size: 17px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 30px;
  border: 0;
}
.modal-window__option {
  display: none;
}
.modal-window__label {
  display: inline-block;
  width: 82px;
  height: 52px;
  font-size: 17px;
  line-height: 1;
  color: $txt-color;
  padding-top: 17px;
  padding-bottom: 18px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: middle;
}
.modal-window__option:checked + .modal-window__label {
  border: 2px solid $green-light;
}
@media (min-width: $tablet-width)  {
  .modal-window {
    width: 566px;
  }
  .modal-window__header {
    font-size: 30px;
    line-height: 1.7;
  }
  .modal-window__form {
    padding-left: 78px;
    padding-right: 78px;
  }
  .modal-window__label {
    width: 112px;
  }
}
@media (min-width: $desktop-width) {
  .modal-window {
    width: 566px;
  }
}
