.overlay {
  position: fixed;
  width: 100vw;
  /*Ширину убирает только слева, справа в бесконечность тянется бэкграунд*/
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
}
.overlay__modal {
  position: fixed;
  top: 25vh;
  z-index: 10;
}
