.page-header {
  font-family: inherit;
  /*background-color: $body-bg;*/
  /*@mixin container;*/
  background-color: $bg-grey;
  width: 100%;
}
/*.page-header__inner {
  width: 320px;
  margin: 0 auto;
}*/
.page-header__nav {
  width: 100%;
}
.page-header__sub-menu {
  margin: 0 auto;
  /*margin-left: -30px;*/
}
.page-header__title {
  /*width: 100%;*/
  @mixin inner;
  font-size: 27px;
  line-height: 1.12;
  font-weight: bold;
  /*background-color: $grey;*/
  padding-top: 69px;
  padding-bottom: 75px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  &--main {
    @mixin inner;
    background-color: transparent;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center -18px;
    background-repeat: no-repeat;
    background-size: 575px auto;
    padding-bottom: 122px;
  }
}
@media (max-width: $tablet-width) and (min-resolution: 144dpi),
      (max-width: $tablet-width) and (min-resolution: 1.5dppx) {
        .page-header__title--main {
          background-image: url("../img/hero-mobile@2x.jpg");
        }
}
@media (min-width: $tablet-width) and (min-resolution: 144dpi),
      (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
        .page-header__title--main {
          background-image: url("../img/hero-desktop@2x.jpg");
        }
}
@media (min-width: $tablet-width) {
        .page-header__title--main {
          background-image: url("../img/hero-desktop@1x.jpg");
        }
}


@media (min-width: $tablet-width)  {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;

  }
  .page-header__inner {
    width: 668px;
  }
  .page-header__title {
    @mixin tablet-header;
    padding-top: 34px;
    /*padding-left: 40px;*/

    &--main {
      padding-top: 92px;
      /*padding-left: 10px;
      padding-right: 2px;*/
      padding-bottom: 375px;
      background-color: $bg-grey;
      background-size: 173%;
      background-position: 50% -64px;
    }
  }
}
@media (min-width: $desktop-width) {
  .page-header__inner {
    width: 1050px;
  }
  .page-header__title {
    @mixin desktop-header;
    padding-top: 33px;
    /*padding-left: 34px;*/
    padding-bottom: 105px;

    &--main {
      padding-top: 92px;
      padding-bottom: 360px;
      background-color: $bg-grey;
      background-size: 110%;
      background-position: 50% -65px;
    }
  }
  }
