.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-family: inherit;
  background-color: $grey;
  color: #000;
  @mixin content-container;
}
.page-footer__socials {
  width: 100%;
  min-height: 80px;
}
.page-footer__developer-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: 100%;
  min-height: 80px;
  border-top: 1px solid $bd-color;
}
.page-footer__developer-text {
  font-family: inherit;
  font-size: 19px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  margin-right: 31px;
  padding-bottom: 6px;
}
.page-footer__logo {
  display: none;
}
@media (min-width: $tablet-width)  {
  .page-footer {
    flex-direction: row;
    align-items: center;
    min-height: 145px;
  }
  .page-footer__logo {
    display: block;
    height: 100%;
    margin-right: 80px;
  }
  .page-footer__logo-link {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
  .page-footer__developer-text {
    margin-right: 28px;
  }
}
@media (min-width: $desktop-width) {

}
