.page-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fff;
  color: #000;
  font-family: inherit;
}
.page-main__special {
  @mixin inner;
  margin-top: 8px;
  margin-bottom: 22px;
}
.page-main__advantages {
  @mixin inner;
  margin-top: 7px;
}
.page-main__reviews {
  @mixin inner;
  margin-bottom: 29px;
}
.page-main__contacts {
  @mixin inner;
  margin-top: 13px;
  margin-bottom: 19px;
}
.page-main__catalog {
  @mixin inner;
  margin-top: 12px;
  margin-bottom: 5px;
}
.page-main__video-review {
  @mixin inner;
  margin-top: 6px;
  margin-bottom: 57px;
}
.page-main__desc {
  @mixin inner;
  font-family: inherit;
  font-size: 13px;
  line-height: 1.85;
  color: $txt-color;
  margin-top: 24px;
  margin-bottom: 12px;
  box-sizing: border-box;
}
.page-main__form {
  /*@mixin inner;*/
  /*margin-top: 4px;*/
  margin-bottom: 55px;
}
@media (min-width: $tablet-width)  {
  .page-main__special {
    margin-top: 18px;
    margin-bottom: 45px;
  }
  .page-main__advantages {
    margin-top: 20px;
    margin-bottom: 23px;
  }
  .page-main__reviews {
    @mixin inner;
    margin-top: 13px;
    margin-bottom: 82px;
  }
  .page-main__contacts {
    margin-top: 11px;
    margin-bottom: 36px;
  }
  .page-main__catalog {
    margin-top: 59px;
    margin-bottom: 20px;
  }
  .page-main__video-review {
    margin-top: 10px;
    margin-bottom: 63px;
  }
  .page-main__desc {
    font-size: 17px;
    line-height: 1.765;
    margin-top: 71px;
    margin-bottom: 5px;
  }
  .page-main__form {
    /*margin-top: 5px;*/
    margin-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__special {
    margin-top: 17px;
    z-index: 0;
    margin-bottom: 49px
  }
  .page-main__advantages {
    margin-top: 9px;
    margin-bottom: 5px;
  }
  .page-main__reviews {
    margin-top: 22px;
    margin-bottom: 67px;
  }
  .page-main__contacts {
    margin-top: 3px;
    margin-bottom: 40px;
  }
  .page-main__catalog {
    margin-top: 100px;
    margin-bottom: 27px;
  }
  .page-main__video-review {
    margin-bottom: 103px;
  }
  .page-main__desc {
    /*@mixin inner;*/
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 175px;
    padding-right: 175px;
    margin-top: 115px;
    margin-bottom: 3px;
  }
}
