.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $grey;
  color: #000;
  padding: 0 30px;
  font-family: $font;
}
.page-footer__socials {
  width: 100%;
}
.page-footer__developer {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  border-top: 1px solid $bd-color;
}
.page-footer__developer-text {
  font-family: inherit;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
}
