.page-footer {

  background-color: $grey;
  color: #000;
  font-family: inherit;
  /*@mixin content-container;*/
}
.page-footer__inner {
  @mixin inner;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.page-footer__socials {
  min-height: 80px;
}
.page-footer__developer-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: 100%;
  min-height: 80px;
  border-top: 1px solid $bd-color;
}
.page-footer__developer-text {
  display: block;
  font-family: inherit;
  font-size: 19px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  margin-right: 31px;
  margin-bottom: 4px;
  /*padding-bottom: 6px;*/
}
.page-footer__logo {
  display: none;
}
@media (min-width: $tablet-width)  {
  .page-footer__inner {
    flex-direction: row;
    align-items: center;
    min-height: 145px;
    /*margin-top: 20px;*/
  }
  .page-footer__logo {
    display: block;
    height: 100%;
    margin-right: 80px;
  }
  .page-footer__logo-link {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    /*padding-left: 20px;*/
  }
  .page-footer__developer-text {
    margin-right: 28px;
    margin-bottom: 0;
  }
}


@media (min-width: $desktop-width) {
  /*.page-footer {
    margin-top: 0px;
  }*/
}
