.page-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fff;
  color: #000;
  font-family: inherit;
  /*padding-bottom: 58px;*/
}
.page-main__desc {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.85;
  color: $txt-color;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  padding-top: 24px;
}
.page-main__video {
  margin-top: 29px;
  margin-bottom: 58px;
}
.page-main__form {
  margin-bottom: 57px;
}
