.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: inherit;
  padding-bottom: 30px;
  border: 1px solid $bd-color;
}
.product__item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: inherit;
  padding-left: 28px;
  padding-right: 28px;
}
.product__item-title {
  font-size: 17px;
  line-height: 1.4;
  color: #000;
  font-weight: bold;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 6px;
}
.product__title-link {
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;;
  color: inherit;
  font-weight: inherit;
}
.product__item-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.product__desc {
  font-size: 13px;
  line-height: 2.3;
  color: $txt-color;
  padding-bottom: 20px;
  border-bottom: 1px solid $bd-color;
}
.product__item-price {
  font-size: 15px;
  line-height: 1.6;
  font-weight: bold;
  color: #000;
}
.product__basket-btn {
  /*align-self: flex-start;*/
  width: 30px;
  height: 30px;
  background-color: #000;
  font-size: 0;
}
