.reviews {
  @mixin block;
  padding-top: 8px;
  padding-bottom: 20px;
}
.reviews__header {
  margin: 0;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
  font-weight: bold;
}
.reviews__btn {
  margin-top: 38px;
}
/*@media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        .reviews {
          background-image: url("../img/review@2x.jpg");
        }
}*/
@media (min-width: $tablet-width)  {
  .reviews {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
    z-index: 1;
  }
  .reviews::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 350px;
    height: 457px;
    background: transparent url("../img/review@1x.jpg") 0px 0 no-repeat;
    z-index: -1;
  }
  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .reviews::after {
        background-image: url("../img/review@2x.jpg");
      }
  }
  .reviews__header {
    @mixin tablet-header;
    margin-top: 67px;
    margin-bottom: 10px;
    z-index: 2
  }
  .reviews__btn {
    position: absolute;
    width: 143px;
    top: 40px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews::after {
    left: 0;
  }
  .reviews__header {
    @mixin desktop-header;
    margin-top: 62px;
    margin-left: 172px;
  }
}
