.reviews {
  @mixin block;
}
.reviews__header {
  margin: 0;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
  font-weight: bold;
}
.review__blockquote {
  font-family: inherit;
  font-size: 15px;
  line-height: 2;
  color: $txt-color;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 35px;
}
.review__blockquote p {
  margin: 0;
}
.review__cite {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.3;
  font-style: normal;
  font-weight: bold;
}
.review__cite-address {
  font-size: 17px;
  line-height: 1.8;
  color: $txt-color;
  font-style: normal;
  text-decoration: none;
}
.slider__toggles {
  margin-top: 36px;
  margin-bottom: 38px;
  border-top: 1px solid $bd-color;
  border-bottom: 1px solid $bd-color;
}
