.reviews {
  @mixin block;
  @mixin padding-20;
  /*@mixin content-container;*/
  /*@mixin padding-lr-30;*/
  @mixin inner;
  padding-top: 8px;
  padding-bottom: 42px;
}
.reviews__header {
  margin: 0;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
  font-weight: bold;
}
.reviews__btn {
  margin-top: 38px;
}
@media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        .reviews {
          background-image: url("../img/review@2x.jpg");
        }
}

@media (min-width: $tablet-width)  {
  @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
          .reviews {
            background-image: url("../img/review@2x.jpg");
          }
  }
  .reviews {
    /*@mixin padding-20;*/
    /*@mixin padding-lr-50;*/
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    background: #fff url("../img/review@1x.jpg") -60px 0 no-repeat;
  }
/*Поправить*/
  .reviews__header {
    @mixin tablet-header;
    margin-top: 67px;
    margin-bottom: 10px;
  }
  .reviews__btn {
    position: absolute;
    width: 170px;
    top: 40px;
    right: 50px;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    /*@mixin padding-20;*/
    background-position: 50px 5px;
  }
  .reviews__header {
    @mixin desktop-header;
    margin-top: 67px;
    margin-left: 172px;
  }
  .reviews__btn {
    top: 45px;
  }
}
