.separator {
  height: 7px;
  width: 100%;
  background: transparent url("../img/bg-zigzag-line.svg") 0 0 repeat-x;
  background-size: contain;
}
@media (min-width: $tablet-width)  {
  .separator {
    height: 17px;
  }
}
@media (min-width: $desktop-width) {
  .separator {
    height: 23px;
  }
}
