.separator {
  position: relative;
}
.separator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  width: 100%;
  background: transparent url("../img/bg-zigzag-line.svg") 50% 0 repeat-x;
  background-size: contain;
}
@media (min-width: $tablet-width)  {
  .separator::before {
    height: 17px;
  }
}
@media (min-width: $desktop-width) {
  .separator::before {
    height: 23px;
  }
}
