.separator {
  /*@mixin container;*/
  width: 100%;
  /*border-bottom: 7px solid $grey;*/
}
@media (min-width: $tablet-width)  {
  .separator {
    height: 17px;
    width: 100%;
    background: transparent url("../img/bg-zigzag-line.svg") 0 0 repeat-x;
    background-size: contain;
  }
}
@media (min-width: $desktop-width) {
  .separator {
    height: 23px;
  }
}
