.slider__toggles {
  display: flex;
  width: 100%;
  min-height: 52px;
}
.slider__toggle {
  width: 50%;
  position: relative;
  border: none;
  background-color: #fff;
}
.slider__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 52px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid $bd-color;
}
.slider__toggle--left-arrow::before {
  background-image: url("../img/icon-left-arrow.svg");
}
.slider__toggle--right-arrow::before {
  background-image: url("../img/icon-right-arrow.svg");
}
.slider__toggle:hover::before {
  opacity: 0.6;
}
.slider__toggle:active::before {
  opacity: 0.3;
}
@media (min-width: $tablet-width)  {
  .slider__item {
    margin-top: 40px;
  }
  .slider__toggles {
    position: absolute;
    bottom: 50px;
    right: 3px;
    width: 168px;
  }
  .slider__toggle::before {
    border: none;
    width: 85px;
  }
}
@media (min-width: $desktop-width) {
  .slider__toggles {
    bottom: 118px;
    right: 55px;
  }
}
