.socials {
  width: 144px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  @mixin reset-list;
}
.socials__icon--icon-fb {
  margin-top: 2px;
  margin-right: 2px;
}
.socials__icon--icon-insta {
  margin-top: 4px;
}
.socials__icon--icon-twitter {
  margin-right: 4px;
}
