.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  @mixin reset-list;
  /*min-height: 80px;*/
  margin-right: 6px;
}
.socials__link {
  display: flex;
  width: 60px;
  height: 100%;
}
.socials__link .socials__icon {
  margin: auto;
}
.socials__icon--icon-fb {
  /*margin-top: 2px;
  margin-right: 2px;*/
}
.socials__icon--icon-insta {
  /*margin-top: 4px;*/
}
.socials__icon--icon-twitter {
  /*margin-right: 4px;*/
}
