.sub-menu {
  font-family: "Open Sans bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.26;
  color: #ffffff;
  @mixin reset-list;
}
.sub-menu__item-link {
  display: block;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  padding-right: 130px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $green-light;
}
.sub-menu__item-link--toy {
  background-color: $green-dark;
}
