.sub-menu {
  font-family: $font;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.sub-menu__item {
  list-style: none;
}
.sub-menu__item-link {
  display: block;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  padding-right: 130px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $green-light;
}
.sub-menu__item-link--toy {
  background-color: $green-dark;
}
