.video-review {
  @mixin padding-lr-30;
  background-color: #fff;
  color: #000;
  font-family: inherit;
}

.video-review__wrap {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $bd-color;
}

.video-review__header-wrap {
  display: flex;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 34px;
  margin-top: 3px;
  margin-bottom: 26px;
  order: 1;
}
.video-review__header {
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  color: #000;
  margin: 0;
  margin-left: 22px;
}
.video-review__header-icon--icon-video {
  flex-shrink: 0;
  margin-top: 6px;
  margin-left: 4px;
}
.video-review__video {
  order: 2;
}
.video-review__desc-wrap {
  order: 3;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 22px;
  padding-bottom: 25px;
}
.video-review__desc {
  font-size: 13px;
  line-height: 1.85;
  color: $txt-color;
}
.video-review__btn {
  width: 192px;
  margin-left: 2px;
  margin-top: 49px;
  margin-bottom: 7px;
}
@media (min-width: $tablet-width)  {
  .video-review {
    @mixin content-container;
  }
  .video-review__wrap {
    padding-top: 0;
  }
  .video-review__video {
    order: 0;
    width: 668px;
    height: 455px;
    outline: 1px solid blue;
  }
  .video-review__header {
    font-size: 20px;
    line-height: 1.2;
  }
  .video-review__desc {
    font-size: 15px;
    line-height: 2;
    /*margin-left: 6px;*/
    margin-bottom: 35px;
  }
  .video-review__header-wrap {
    width: 100%;
    margin-top: 34px;
    margin-bottom: 8px;
    padding-left: 110px;
  }
  .video-review__header {
    margin-top: 5px;
    margin-left: 31px;
  }
  .video-review__header-icon--icon-video {
    margin-top: 0;
  }
  .video-review__btn {
    width: 100%;
    margin-top: 34px;
    margin-bottom: 20px;
  }
  .video-review__desc-wrap {
    padding-left: 40px;
    padding-right: 45px;
  }
}
@media (min-width: $desktop-width) {
  .video-review__wrap {
    /*flex-direction: row;*/
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    height: 455px;
  }
  .video-review__video {
    /*order: 1;*/
    width: 682px;
    margin-right: 18px;
    /*margin-right: 20px;*/
    /*margin-left: -970px;*/
    /*margin-right: 78px;*/
  }
  .video-review__header-wrap {
    box-sizing: border-box;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*width: 350px;*/
    margin-top: 41px;
    padding-left: 58px;
    padding-right: 100px;
    /*margin-bottom: 30px;*/
  }
  .video-review__header {
    margin-left: 2px;
    margin-top: 22px;
  }
  .video-review__desc-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 350px;
    padding-top: 0;
    padding-left: 58px;
    overflow-y: hidden;
  }
  .video-review__desc {
    margin-top: auto;
    margin-bottom: auto;
  }
  .video-review__btn {
    width: 230px;
    margin-top: 46px;
    margin-bottom: 36px;
  }
}
