.video-review {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
  padding-top: 23px;
  padding-bottom: 33px;
  background-color: #fff;
  color: #000;
  font-family: inherit;
  border: 1px solid $bd-color;
}
.video-review__play-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.video-review__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $bd-color;
  padding: 30px 0;
}

.video-review__header {
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding-left: 90px;
  margin-bottom: 25px;
}
.video-review__desc {
  font-size: 13px;
  line-height: 1.85;
  color: $txt-color;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 23px;
  padding-bottom: 29px;
  /*padding: 33px 34px 30px;*/
}
.video-review__btn {
  width: 192px;
  align-self: center;
}
