.videoplayer {
  position: relative;
  width: 260px;
  height: 150px;
  background: transparent url("../img/video-mobile@1x.jpg") 0 0 no-repeat;
}
@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .videoplayer {
      background-image: url("../img/video-mobile@2x.jpg");
    }
}
.videoplayer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*transform: translate(-50%, -50%);*/
  background: transparent url("../img/icon-play.svg") 50% 53% no-repeat;
  border: none;
}
  .videoplayer:hover::before {
    transform: scale(1.2);
  }
  .videoplayer:active::before,
  .videoplayer:focus::before {
    transform: scale(0.8);
    opacity: 0.3;
  }
.videoplayer__btn {
  display: none;
}

@media (min-width: $tablet-width)  {
  .videoplayer {
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
  }
  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .videoplayer {
        background-image: url("../img/video-tablet@2x.jpg");
      }
  }
}
@media (min-width: $desktop-width) {
  .videoplayer {
    width: 682px;
    background-image: url("../img/video-desktop@1x.jpg");
  }
  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .videoplayer {
        background-image: url("../img/video-desktop@2x.jpg");
      }
  }
  .videoplayer::before {
    background-position: 52% 50%
  }
}
