.video-review {

  /*@mixin padding-lr-30;*/
  background-color: #fff;
  color: #000;
  font-family: inherit;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video-review__wrap {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid $bd-color;
}

/*.video-review__header-wrap {
  display: flex;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 34px;
  margin-top: 3px;
  margin-bottom: 26px;
}*/
.video-review__header {
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  color: #000;
  padding-left: 90px;
  margin-top: 2px;
  margin-bottom: 27px;
  background: transparent url("../img/icon-video.svg") 33px 7px no-repeat;
}
.video-review__desc-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 27px;
  padding-bottom: 25px;
  margin-bottom: 0;
}
.video-review__desc {
  font-size: 13px;
  line-height: 1.85;
  margin-top: 0;
  color: $txt-color;
}
.video-review__btn {
  width: 190px;
  margin-left: 2px;
  margin-top: 12px;
  margin-bottom: 7px;
}
@media (min-width: $tablet-width)  {
  /*.video-review {
    @mixin padding-lr-50;
  }*/
  .video-review__wrap {
    padding-top: 0;
  }
  .video-review__video {
    order: 1;
    width: 668px;
    height: 455px;
    /*outline: 1px solid red;*/
  }
  .video-review__header {
    order: 2;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 4px;
    padding-left: 106px;
    font-size: 20px;
    line-height: 1.2;
    background-position: 42px -5px;
  }
  .video-review__desc {
    font-size: 15px;
    line-height: 2;
    margin-bottom: 10px;
  }
  .video-review__header-icon--icon-video {
    margin-top: 0;
  }
  .video-review__btn {
    box-sizing: border-box;
    width: 584px;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .video-review__desc-wrap {
    order: 3;
    padding-left: 40px;
    padding-right: 45px;
  }
}
@media (min-width: $desktop-width) {
  .video-review__wrap {
    flex-direction: row;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    /*align-content: flex-start;*/
    /*height: 455px;*/
  }
  .video-review__video {
    order: 2;
    width: 682px;
    margin-top: -176px;
    /*outline: 1px solid blue;*/
    /*margin-right: 18px;*/
    /*margin-right: 20px;*/
    /*margin-left: -970px;*/
    /*margin-right: 78px;*/
  }
  .video-review__header {
    box-sizing: border-box;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 760px;
    margin-top: 42px;
    padding-right: 100px;
    margin-bottom: 32px;
    padding-top: 54px;
    background-position: 2px 0;
  }
  .video-review__desc-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 350px;
    /*margin-left: 20px;*/
    padding-top: 0;
    padding-left: 78px;
    overflow-y: hidden;
  }
  .video-review__desc {
    margin-bottom: 47px;
  }

  .video-review__btn {
    width: 230px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .video-review__header-icon--icon-video {
    margin-left: 0;
  }
}
